.buyer-cart {
  font-family: Arial, sans-serif;
  background-color: #393E46;
  color: #EEEEEE;
  padding: 20px;
  margin-top: 80px;
}

.cart-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.cart-item {
  background-color: #222831;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: calc(25% - 20px);
  box-sizing: border-box;
}

.cart-item h3 {
  color: #FFD369;
  margin-bottom: 10px;
}

.cart-item p {
  color: #EEEEEE;
  margin: 5px 0;
}

.wishlist-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}

.cart-item button {
  background-color: #FFD369;
  color: #222831;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cart-item button:hover {
  background-color: #FFC947;
}

.place-order-button {
  background-color: #FFD369;
  color: #222831;
  border: none;
  padding: 15px 30px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  display: block;
  transition: background-color 0.3s;
}

.place-order-button:hover {
  background-color: #FFC947;
}
.cart-total-price {
  font-size: 1.5rem;
  color: #EEEEEE;
  margin-top: 20px;
}

