.buyer-cart {
    font-family: Arial, sans-serif;
    background-color: #393E46;
    color: #EEEEEE;
    padding: 20px;
    margin-top: 80px;
  }
  
  .cart-items {
    display: flex;
    flex-direction: column;
    gap: 20px;
    
  }
  
  .cart-item {
    background-color: #222831;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .cart-item h3 {
    color: #FFD369;
  }
  
  .cart-item p {
    color: #EEEEEE;
  }
  